<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Резюме</title>
    <link rel="stylesheet" href="/static/styles/cv.css">
</head>
<body>
    <div class="header-block">
        <h2>Аналитик</h2>
        <div class="candidate-info">
            <div class="details">
                <h3>Егор Карабаев</h3>
                <p><strong>Возраст:</strong> 23 года</p>
                <p><strong>Город:</strong> Москва/Санкт-Петербург</p>
                <p><strong>Телефон:</strong> +7 (915) 082-80-62</p>
                <p><strong>Email:</strong> eekarabaev@mail.ru</p>
            </div>
        </div>
    </div>
    <div class="info-block">
        <h2>Опыт работы</h2>
        <div class="block-container" id="spbcis">
            <div class="inner-block">
                <div class="place">
                    <p><strong class="workplace">Центр информационного сопровождения</strong></p>
                </div>
                <div class="image-container">
                    <img src="/static/icons/Flag_of_Saint_Petersburg.svg">
                </div>
                <div class="qualification">
                    <p>Аналитик</p>
                </div>
                <div class="date-range">
                    <p>июль 24 — сентябрь 24</p>
                </div>
            </div>
            <div class="inner-block" id="lenta">
                <div class="place">
                    <p><strong class="workplace">Лента</strong></p>
                </div>
                <div class="image-container">
                    <img src="/static/icons/lenta.png">
                </div>
                <div class="qualification">
                    <p>Аналитик</p>
                </div>
                <div class="date-range">
                    <p>июль 24 — сентябрь 24</p>
                </div>
            </div>
            <div class="inner-block" id="samokat">
                <div class="place">
                    <p><strong class="workplace">Самокат</strong></p>
                </div>
                <div class="image-container">
                    <img src="/static/icons/smkt.png">
                </div>
                <div class="qualification">
                    <p>Операционный аналитик</p>
                </div>
                <div class="date-range">
                    <p>апрель 24 — июль 24</p>
                </div>
            </div>
            <div class="inner-block" id="raif">
                <div class="place">
                    <p><strong class="workplace">Райффайзенбанк</strong></p>
                </div>
                <div class="image-container">
                    <img src="/static/icons/raif.jpg">
                </div>
                <div class="qualification">
                    <p>Стажёр-аналитик</p>
                </div>
                <div class="date-range">
                    <p>июль 23 — ноябрь 24</p>
                </div>
            </div>
        </div>
    </div>
    <div class="info-block">
        <h2>Образование</h2>
        <div class="block-container">
            <a href="https://spbu.ru/postupayushchim/programms/magistratura/matematicheskoe-i-informacionnoe-obespechenie-ekonomicheskoy" target="_blank">
                <div class="education-block">
                    <div class="place">
                        <p><strong class="workplace">СПбГУ</strong></p>
                    </div>
                    <div class="image-container">
                        <img src="/static/icons/spbu.png">
                    </div>
                    <div class="qualification">
                        <p>Магистратура | Прикладная математика</p>
                    </div>
                    <div class="date-range">
                        <p>2024 - 2026</p>
                    </div>
                </div>
            </a>
            <a href="https://www.hse.ru/ba/we/" target="_blank">
                <div class="education-block">
                    <div class="place">
                        <p><strong class="workplace">НИУ ВШЭ</strong></p>
                    </div>
                    <div class="image-container">
                        <img src="/static/icons/hse.svg">
                    </div>
                    <div class="qualification">
                        <p>Бакалавриат | Экономика</p>
                    </div>
                    <div class="date-range">
                        <p>2020 - 2024</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="info-block">
        <h2>Пример работы</h2>
        <div class="block-container">
            <div class="example-block" id="districts-info">
                <div class="place">
                    <p><strong>Районы Санкт-Петербурга</strong></p>
                </div>
                <div class="image-container">
                    <img src="/static/images/spb.svg">
                </div>
                <div class="description">
                    <p>Выберите район и посмотрите данные по нему</p>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <h2>Свяжитесь со мной:</h2>
            <div class="social-links">
                <ul>
                    <li><a href="https://t.me/egrkrbv">Telegram</a></li>
                    <li>eekarabaev@mail.ru</li>
                    <li>+7 (915) 082-80-62</li>
                </ul>
        </div>
    </footer>
    <div class="modal" id="modalWindow">
        <div class="modalContent">
            <span class="close-button" id="closeBtn">&times;</span>
            <h2 id="modalHeader">Модальное окно</h2>
            <p>Задачи и обязанности:</p>
            <p id='modalTasks'></p>
        </div>
    </div>
    <script src="/static/js/cv.js"></script>
    <script src="/static/js/modal.js"></script>
</body>
</html>