<!DOCTYPE html>
<html>
<head>
    <title>Районы Санкт-Петербурга</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <div class="header">
        <h1>Районы Санкт-Петербурга</h1>
    </div>
    
    <div class="content-wrapper">
        <div class="text-block">
            <h2>Список районов:</h2>
            <ol id="distList">
                <li>
                    <span class="districtItem" id="AdmiralteyskyD">
                        <a href="district.html">Адмиралтейский</a>
                    </span>
                </li>
                <li>
                    <span class="districtItem" id="VasileostrovskyD">
                        <a href="district.html">Василеостровский</a>
                    </span>
                </li>
                <li>
                    <span class="districtItem" id="VyborgskyD">
                        <a href="district.html">Выборгский</a>
                    </span>
                </li>
                <li>
                    <span class="districtItem" id="KalininskyD">
                        <a href="district.html">Калининский</a>
                    </span>
                </li>
                <li>
                    <span class="districtItem" id="KirovskyD">
                        <a href="district.html">Кировский</a>
                    </span>
                </li>
                <li>
                    <span class="districtItem" id="KolpinskyD">
                        <a href="district.html">Колпинский</a>
                    </span>
                </li>
                <li>
                    <span class="districtItem" id="KrasnogvardeyskyD">
                        <a href="district.html">Красногвардейский</a>
                    </span>
                </li>
                <li>
                    <span class="districtItem" id="KrasnoselskyD">
                        <a href="district.html">Красносельский</a>
                    </span>
                </li>
                <li>
                    <span class="districtItem" id="KronshtadtskyD">
                        <a href="district.html">Кронштадтский</a>
                    </span>
                </li>
                <li>
                    <span class="districtItem" id="KurortnyD">
                        <a href="district.html">Курортный</a>
                    </span>
                </li>
                <li>
                    <span class="districtItem" id="MoskovskyD">
                        <a href="district.html">Московский</a>
                    </span>
                </li>
                <li>
                    <span class="districtItem" id="NevskyD">
                        <a href="district.html">Невский</a>
                    </span>
                </li>
                <li>
                    <span class="districtItem" id="PetrogradskyD">
                        <a href="district.html">Петроградский</a>
                    </span>
                </li>
                <li>
                    <span class="districtItem" id="PetrodvortsovyD">
                        <a href="district.html">Петродворцовый</a>
                    </span>
                </li>
                <li>
                    <span class="districtItem" id="PrimorskyD">
                        <a href="district.html">Приморский</a>
                    </span>
                </li>
                <li>
                    <span class="districtItem" id="PushkinskyD">
                        <a href="district.html">Пушкинский</a>
                    </span>
                </li>
                <li>
                    <span class="districtItem" id="FrunzenskyD">
                        <a href="district.html">Фрунзенский</a>
                    </span>
                </li>
                <li>
                    <span class="districtItem" id="TsentralnyD">
                        <a href="district.html">Центральный</a>
                    </span>
                </li>
            </ol>
        </div>
        <div class="map-container">
            <object id="spbMap" type="image/svg+xml" data="/static/images/spb.svg">
                Ваш браузер не поддерживает SVG
            </object>
        </div>
    </div>
</body>
<script src="../static/js/script.js"></script>
</html>