<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Резюме - Имя Фамилия</title>
    <link rel="stylesheet" href="/static/styles/resume.css">
</head>
<body>
    <div class="info-block">
        <h2>Опыт работы</h2>
        <div class="inner-block">
            <h3>Центр информационного сопровождения</h3>
            <p><strong>Город:</strong> Санкт-Петербург</p>
        </div>
        <div class="inner-block">
            <h3>Лента</h3>
            <p><strong>Город:</strong> Санкт-Петербург</p>
        </div>
        <div class="inner-block">
            <h3>Самокат</h3>
            <p><strong>Город:</strong> Москва</p>
        </div>
    </div>
    <div class="info-block">
        <h2>Образование</h2>
        <div class="inner-block">
            <h3>СПбГУ</h3>
            <p><i>Магистратура</i></p>
            <p><strong>Город:</strong> Санкт-Петербург</p>
        </div>
        <div class="inner-block">
            <h3>НИУ ВШЭ</h3>
            <p><i>Бакалавриат</i></p>
            <p><strong>Город:</strong> Москва</p>
        </div>
    </div>
</body>
</html>